<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Users Page</title>
</head>
<body>
     <div>
    <h1>Add an User</h1>
    <form action="/users" method="post">
    <input type="text" name="first_name">
    <input type="text" name = "last_name">

    <input type="text" name= "email">
    <button type="submit">Add User</button>
    
    </form>
</div>
</body>
</html>

